.modalBackground{
justify-content : center;
align-items     : center;
background-color: #00BCD4;
height: 80% ;
width : 80%;
z-index: 2;
}

.image{
  height: 200px;
  width : 300px;
}
.App{
  display: block;
    
  width: 100vw;
}

*{
  box-sizing: border-box;
  margin    : 0;
  padding   : 0;
}
.content{
  width                : 100%;
  display              : grid;
  grid-template-columns: repeat(7, 1fr);
  background-color     : aliceblue;
  grid-gap             : 20px;
  padding              : 20px;
  }

  img{
    width : 150px;
    height: 150px;

}

.card{
  display         : block;
  background-color: #fff;
  padding-bottom  : 10px;
  padding-top     : 10px;
  padding-left    : 30px;
 
}

.popup{

background-color: (0,0,0,0.5);
top             : 0;
bottom          : 0;
left            : 0;
right           : 0;
position: fixed;
}

.header{
  width     : 100%;
  text-align: center;
}

.upbody{
  width           : 22%;
  height          : 40%;
  background-color: yellow;
  margin          : auto;
  text-align      : center;
  padding-bottom  : 10px;
  padding-top     : 10px;
  }
  

p{
  margin     : 10px 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;

}

button{
  padding         : 5px 10px;
  margin          : auto;
  background-color: brown;
  border          : none;
  outline         : none;

}